.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 86px 0 16px;
    &__img {
        width: 600px;
        height: 200px;
        @media screen and (max-width: 900px) {
            width: 450px;
            height: 150px;
        }
        @media screen and (max-width: 480px) {
            width: 310px;
            height: 100px;
        }
    }
}
